.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  min-height: 100px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 2% 5%;
  left: 5%;
  top: 56px;
  transition: all 0.3s ease-out;
  text-align: center;
}

.Visible {
  transform: translateY(0);
  opacity: 1;
}

.Hidden {
  transform: translateY(-100vh);
  opacity: 0;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    min-height: 410px;
    left: calc(50vw - 250px);
    top: calc(50vh - 205px);
  }
}