.CheckoutSummary {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 424px;
}

.CheckoutSummaryHeader {
  padding: 20px 0;
}

.CheckoutSummaryButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
}

@media (min-height: 550px) {
  .CheckoutSummary {
    height: 494px;
  }
}

@media (min-height: 650px) {
  .CheckoutSummary {
    height: 594px;
  }
}

@media (min-height: 700px) {
  .CheckoutSummary {
    height: 644px;
  }
}