.SideNav {
  position: fixed;
  width: 240px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #FFFFFF;
  transition: transform .5s ease;
  box-shadow: 0 4px 2px #CCC;
}

.Visible {
  transform: translateX(0);
}

.Hidden {
  transform: translateX(-100%);
}

.BrandWrapper {
  height: 55px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(143, 92, 44, 0.1);
}