/* TODO: duplication */
.Form {
  margin: 10px auto;
  width: 95%;
  text-align: center;
  box-shadow: 1px 2px 3px #AA6817;
  box-sizing: border-box;
}

.FormHeader {
  padding-top: 20px;
}

.Form > form {
  padding: 10px;
}

@media (min-width: 600px) {
  .Form {
    width: 500px;
  }
}