.NavItem {
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.NavItem a {
  color: #111111;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 4px solid transparent;
  display: inline-block;
}

.NavItem a:hover,
.NavItem a.Active {
  background-color: rgba(112, 59, 9, 0.2);
}

@media (min-width: 500px) {
  .NavItem {
    width: auto;
  }
  
  .NavItem a {
    color: #FFFFFF;
    background-color: #703B09;
    font-size: 18px;
    padding: 14px 20px;
    height: 56px;
    min-width: 110px;
  }
  
  .NavItem a:hover,
  .NavItem a.Active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #D7C844;
  }
}