.Burger {
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-height: 550px) {
  .Burger {
    width: 250px;
    height: 250px;
  }
}

@media (min-height: 650px) {
  .Burger {
    width: 300px;
    height: 300px;
  }
}

@media (min-height: 700px) {
  .Burger {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 500px) {
  .Burger {
    width: 400px;
    height: 350px;
  }
}

@media (min-width: 750px) {
  .Burger {
    width: 600px;
    height: 500px;
  }
}

@media (min-width: 1000px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}