.Button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  cursor: not-allowed;
  color: #888888;
}

.Continue, .Login {
  color: #5C9210;
}

.Cancel, .Mode {
  color: #944317;
}

.SideNav {
  height: 100%;
  padding: 0;
  margin: 0;
}

.SideNav:after {
  content: '...';
  font-size: 36px;
  letter-spacing: 2px;
  height: 100%;
  padding: 0 4px;
  display: block;
}

.Controls {
  width: 50%;
  margin: 0;
  padding: 15px 30px;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px #966909;
  opacity: 0.8;
}

.Controls:hover, .Controls:active {
  opacity: 1;
}

.Controls:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #CCC;
  color: #888888;
}

.OrderProduct {
  background-color: #e1de35;
  border: 1px solid #7d560a;
  color: #7d560a;
}

.OrderProduct:not(:disabled) {
  animation: enable 0.3s linear;
}

.ResetProduct {
  background-color: #e14b40;
  border: 1px solid #7d560a;
  color: #7d560a;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.Control {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 10px;
  width: 80px;
  border: 1px solid #AA6817;
  cursor: pointer;
  outline: none;
}

.Control:disabled {
  background-color: #AC9980;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.Control:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}

.AddIngredient {
  background-color: #8F5E1E;
  color: white;
}

.AddIngredient:hover, .AddIngredient:active {
  background-color: #99703F;
  color: white;
}

.RemoveIngredient {
  background-color: #D39952;
  color: white;
}

.RemoveIngredient:hover, .RemoveIngredient:active {
  background-color: #DAA972;
  color: white;
}