.BuildControls {
  width: 100%;
  max-width: 400px;
  background-color: #CF8F2E;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-top: 5px;
}

.ControlsButtons {
  display: flex;
  justify-content: space-between;
}

@media (min-height: 550px) {
  .BuildControls {
    padding-top: 3px;
  }
}

@media (min-height: 650px) {
  .BuildControls {
    padding-top: 10px;
  }
}