.Wrapper {
  display: flex;
  padding-bottom: 10px;
}

.Label {
  width: 30%;
  line-height: initial;
  padding: 5px 0;
  text-align: left;
  color: rgba(112, 59, 9, 0.7);
  font-weight: bold;
}

.Field {
  width: 70%;
  padding: 5px;
  font: inherit;
  border: 1px solid rgba(112, 59, 9, 0.2);
  border-radius: 0;
  color: #292929;
  background-color: #FFFFFF;
}

.Field:focus {
  outline: none;
  background-color: rgba(112, 59, 9, 0.2);
}

.Textarea {
  resize: none;
}

.Select {
  appearance: none;
  background-image: url("../../assets/images/chevron-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.Invalid, .Invalid:focus {
  border: 1px solid #DE0300;
  background-color: #de8985;
}