/* TODO: remove from container */
.BuilderControls {
  background-color: #CF8F2E;
  text-align: center;
  padding: 7px 5px;
}

@media (min-height: 550px) {
  .BuilderControls {
    padding: 10px 0;
  }
}

@media (min-height: 650px) {
  .BuilderControls {
    padding: 16px 0;
  }
}