.OrdersItem {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #EEE;
  box-shadow: 0 2px 3px #CCC;
}

.OrdersItemInfo {
  line-height: 1.2;
  color: rgba(112, 59, 9, 0.6);
  font-weight: bold;
  font-size: 0.9rem;
}

.OrdersItemTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.OrdersItemTable td, th {
  border: 1px solid rgba(112, 59, 9, 0.1);
  padding: 8px;
}

.OrdersItemTable td:first-child {
  text-align: left;
}

.OrdersItemTable td {
  text-align: right;
}

.OrdersItemTable tr:nth-child(even) {
  background-color: rgba(112, 59, 9, 0.1);
}