.Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 600;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Spinner,
.Spinner:before,
.Spinner:after {
  width: 1em;
  height: 4em;
  background: #e5a42e;
  animation: load 1s infinite ease-in-out;
}

.Spinner {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 12px;
  text-indent: -9999em;
  color: #e5a42e;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.Spinner:before,
.Spinner:after {
  position: absolute;
  content: '';
}

.Spinner:before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.Spinner:after {
  left: 1.5em;
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}