.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
}

.Label {
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
  width: 80px;
}

@media (min-height: 550px) {
  .BuildControl {
    margin: 4px 0;
  }
  
  .Label {
    padding: 7px 10px;
  }
}

@media (min-height: 650px) {
  .BuildControl {
    margin: 5px 0;
  }
  
  .Label {
    padding: 10px;
  }
}