.SummaryHeader {
  padding: 20px 0;
}

.SummaryDescription {
  line-height: 1.2;
}

.SummaryItems {
  padding: 20px;
}

.SummaryConfirmation {
  padding-top: 10px;
}

.SummaryButtons {
  display: flex;
  justify-content: space-between;
}