body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}
